{% extends "layout.html" %}
{% block title %}Cancelled Orders - MediCart {% endblock %}
{% block content %}


<script type='text/javascript' src='//pl27238075.profitableratecpm.com/6f/4c/87/6f4c87331b00d399285077b7e17e9172.js'></script>
            <button type="submit" class="btn btn-outline-primary rounded-pill" onclick="window.location.href='{{ url_for('main.myorders')}}'">Active/Pending Orders</button>
            <button class='btn btn-outline-primary rounded-pill' onclick="window.location.href='{{ url_for('main.completed_order') }}'">Order History</button>
            <button  class="btn btn-outline-primary rounded-pill" onclick="window.location.href='{{ url_for('main.cancelled_orders') }}'">Cancelled Order</button>


        <!-- Active Orders -->
        <section class="order-list" id="active-orders">
            {%if not order%}
            <div class="order-card">
                <p> You have no cancelled orders </p>
            </div>
            {%else%}
            {%for order in order%}
            <div class="order-card">
                <h3>Order ID: {{order.order_id}}</h3>
                <p>Status: {{order.status}}</p>
                <p>Dest: {{order.location}}</p>
                <p>Order Date:{{order.create_at.strftime('%Y - %m - %d @ %H:%M')}}</p>
            </div>
            {%endfor%}
            {%endif%}
            <!-- Repeat order-card for more orders -->
        </section>


    </main>

{% endblock %}